@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.magic {
   background-color: #f9ca24;
   color: #fff;
   font-family: 'Inter', sans-serif;
   border: 0;
   border-radius: 3px;
   font-size: 16px;
   padding: 12px 20px;
   cursor: pointer;
   position: fixed;
   top: 20px;
   letter-spacing: 1px;
   box-shadow: 0 3px rgba(249, 202, 36, 0.5);
   z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active{
    box-shadow: none;
    transform: translate(2px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    margin-top: 10rem;
    transition: .4s ease;
}

.boxes.big {
   width: 600px;
   height: 600px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url(https://media1.giphy.com/media/uzOSCSVYB4Vz2oO77M/200w.webp?cid=ecf05e47jz36xmbr02rv0q0e6wuouh0dv4kdmiziwsgc28i0&ep=v1_gifs_search&rid=200w.webp&ct=g);
    height: 125px;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    width: 125px;
    transition: .4s ease;
}

.box::after {
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}